
@using LoanManagementSystem.Models.Enums
@using Microsoft.AspNetCore.Identity
@model IEnumerable<LoanManagementSystem.Models.Plan>


@inject UserManager<IdentityUser> _userManager

@{
    ViewData["Title"] = "Index";

    var user = await _userManager.GetUserAsync(this.User);
    var isAdmin = await _userManager.IsInRoleAsync(user, MyIdentityRoleNames.LoanAdmin.ToString());
}


<h1><b>List of Loan Plan</b></h1>

<p>
   @if (isAdmin)
    {
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    }
    else {
        <a class="btn btn-primary disabled" href="#">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlanType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eligibility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlanType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eligibility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanCategory.LoanName)
            </td>
            <td>
                 
    
              @if (isAdmin)
              {
                <a class="btn btn-primary " asp-action="Edit" asp-route-id="@item.PlanId">Edit</a> 
                 
                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.PlanId">Delete</a>
              }
              else {
                 <a class="btn btn-primary disabled" href="#">Edit</a>
                 <a class="btn btn-primary disabled" href="#">Delete</a>
                }
            </td>
              <td>
                |
                <a  class="btn btn-sm btn-warning"  asp-action="Details" asp-route-id="@item.PlanId">Details</a>
               
                |
                <a class="btn btn-sm btn-warning" asp-area="LoanMgmt" asp-controller="Customers" 
                       asp-action="Create" asp-route-id="@item.PlanId" >Apply Loan<br/></a>
            </td>
        </tr>
       
                     
}
    </tbody>
</table>
